<div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
        <div>
            <label for="email">Email</label>
            <input id="email" type="email" formControlName="email" placeholder="Email"/>
        </div>
        <div>
            <label for="FirstName">First Name</label>
            <input id="FirstName" type="text" formControlName="FirstName" placeholder="First Name"/>
        </div>
        <div>
            <label for="LastName">Last Name</label>
            <input id="LastName" type="text" formControlName="LastName" placeholder="Last Name"/>
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" type="password" formControlName="password" placeholder="Password"/>
        </div>

        
        <button class="button" type="submit">Register</button>
    </form>
</div>