<div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
        <div>
            <label for="email">Email</label>
            <input id="email" type="email" formControlName="email" placeholder="Email"/>
        </div>
        <div>
            <label for="firstName">First Name</label>
            <input id="firstName" type="text" formControlName="firstName" placeholder="First Name"/>
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input id="lastName" type="text" formControlName="lastName" placeholder="Last Name"/>
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" type="password" formControlName="password" placeholder="Password"/>
        </div>
        <div>
                <label for="DOB">Date of Birth</label>
                <input id="DOB" type="date" formControlName="DOB"/>
        </div>
        <div>
                <label for="Address">Home Address</label>
                <input id="Address" type="text" formControlName="Address"/>
        </div>
        <div>
                <label for="FavoriteFood">Favorite Food</label>
                <input id="FavoriteFood" type="text" formControlName="FavoriteFood"/>
        </div>
        <div>
                <label for="FavoriteMovie">Favorite Movie</label>
                <input id="FavoriteMovie" type="text" formControlName="FavoriteMovie"/>
        </div>
        <div>
                <label for="FavoriteArtist">Favorite ARtist</label>
                <input id="FavoriteArtist" type="text" formControlName="FavoriteArtist"/>
        </div>
        <div>
                <label for="Hobbie">Hobbie</label>
                <input id="Hobbie" type="text" formControlName="Hobbie"/>
        </div>
        
        <button class="button" type="submit">Register</button>
    </form>
</div>